*{
    box-sizing: border-box;
    margin: 0%;
}

#intestazione{
font-size: 300%;
background-color: rgb(255, 255, 255);
}

main{
    background-color: rgb(177, 174, 174, 0.3);
    width: 80%;
    margin-left: 10px;
    border-radius: 4px;
    padding: 10px;
}

#contenitore-white{
background-color: rgb(255, 255, 255);
margin-left: 130px;
width: 500px;
height: 500px;
margin-top: 20px;
border-width: 1px;
border-style: solid;
border-radius: 10px;
padding: 20px;
    
}

#bottoni{
    border-bottom: solid;
}

#button{
    background-color: #47adf1;
    display: inline;
    color: white;
    margin-left: 40px;
    text-align: center;
    border-radius: 7px;
    padding: 4px;
}

#button2{
    color: gray;
    display: inline;
    background-color: white;
    margin-left: 10px;
    width: 70px;
    height: 20px;
    border-radius: 7px;
    border-style: solid;
    border-color: rgb(128, 128, 128, 0.2);
    padding: 4px;
    text-align: center;
}